Python
pycache/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

Virtual Environments
venv/
myenv/
env/
ENV/
hello_flask/venv/

AWS & Secrets
.aws/
*.pem
*.key
credentials
guardduty/
sts/
ctor-definition-version.rst

Large files
*.zip
*.tar.gz
*.log
awscliv2.zip

OS
.DS_Store
Thumbs.db
desktop.ini

IDE
.vscode/
.idea/

Git
.git/
